{{!-- <div class="photo-card">
  <a href='{{webformatURL}}' class='photo'>
      <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="340" height="340"/>
  <div class="info">
    <p class="info-item">
      <b>Likes </br> {{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views </br> {{views}}</b>
    </p>
    <p class="info-item">
      <b>Comments </br> {{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads </br> {{downloads}}</b>
    </p>
  </div>
  </a>
</div> --}}

{{#each this}}
<div class="photo-card">
  <div class="owerlay">
 <a href='{{largeImageURL}}'>
      <img  class='gallery-img lazyload' data-src="{{webformatURL}}" data-alt="{{tags}}" loading="lazy" width="340" height="340"/>
      </a>
  </div>
 
  <div class="info">
    <p class="info-item">
      <b>Likes </br> {{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views </br> {{views}}</b>
    </p>
    <p class="info-item">
      <b>Comments </br> {{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads </br> {{downloads}}</b>
    </p>
  </div>
</div>
{{/each}}


